.aside {
  position: relative;
  bottom: 890px;
  left: 100px;
  width: 160px;
  height: 870px;
  background-color: rgb(240, 225, 220);
  margin: 10px;
}

.aside img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 15px;
}

.aside a.active {
  background-color: purple;
}
